{#
/**
 * @file starwars_starship.html.twig
 * Default theme implementation to present Starship data.
 *
 * This template is used when viewing Starship pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_starwars_starship()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('starwars_starship') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
